@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root {
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
}

html {
  scroll-behavior: smooth;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to bottom,
    rgb(242, 224, 231),
    rgb(168, 224, 213)
  );
  background-attachment: fixed;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.25;
  width: 100%;
  min-width: auto;
  height: auto;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  max-width: 50%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85%;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

/* Corpo do site para tela > 800px */
@media screen and (min-width: 900px) {
  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }
}

/* preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--clr-white);
  display: grid;
  justify-content: center;
  align-items: center;
  visibility: visible;
  z-index: 999;
  transition: var(--transition);
}

/* video background */
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85%;
  object-fit: cover;
  z-index: -2;
}

/* logo navbar */
.logo {
  height: 100px;
  border-radius: 50px;
}

/* Barra de navegacao (< 800px) */
nav {
  background-image: linear-gradient(
    to top,
    rgb(242, 224, 231),
    rgb(168, 224, 213)
  );
  padding: 1rem 1.5rem;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Botao sanduiche */
.nav-toggle {
  font-size: 1.5rem;
  color: rgb(163, 21, 109);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.links a {
  display: flex;
  color: black;
  font-size: 1.1rem;
  letter-spacing: 0.25rem;
  font-weight: bold;
  padding: 0.75rem 0;
}

.links a:hover {
  color: cornflowerblue;
}

/* Barra de navegacao (> 900px) */
@media screen and (min-width: 900px) {
  nav {
    background: transparent;
    display: flex;
    z-index: 1;
  }

  .nav-center {
    width: 90vh;
    max-width: 1170px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
  }

  .nav-header {
    padding: 0;
  }

  .nav-toggle {
    display: none;
  }

  .links-container {
    height: auto !important;
  }

  .links {
    display: flex;
  }

  .links a {
    background: transparent;
    color: bisque;
    font-size: 1.1rem;
    letter-spacing: var(--spacing);
    transition: var(--transition);
    margin: 0 1rem;
    font-weight: bold;
    padding: 0;
    display: block;
  }

  .links a:hover {
    color: aqua;
  }
}

#about {
  box-sizing: border-box;
  color: bisque;
}

.descricao {
  font-size: 1.5rem;
  min-height: 20vh;
}

.secao {
  display: grid;
  place-items: center;
  text-align: center;
  padding-bottom: 100vh;
}

/* Ferramentas */

.linguagens,
.redes {
  color: inherit;
  font-size: 30px;
  padding: 50px;
}

.linguagens i,
.redes i {
  letter-spacing: 0.75rem;
}

#contact {
  padding-bottom: 10%;
}
/* fim */

/* footer fixo na tela sempre */
@media screen and (min-width: 900px) {
  footer {
    background-color: lightseagreen;
    background-image: linear-gradient(
      to top,
      rgb(242, 224, 231),
      rgb(168, 224, 213)
    );
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    margin: auto;
    text-align: center;
    font-weight: bold;
  }
}
